{% extends 'layout.html' %}
{% block content %}
<main id="main">
  <p>
    This is a movie database. Click on 'Browse' to look through our collection.
  </p>
  <p style="text-align: right; font-style: italic;">
    this is working poggers
  </p>
  {% for movie in movies %}
  <p>{{movie.director.director_full_name}}</p>
  <h2>{{movie.title}}, {{movie.year}}</h2>
  <p>{{movie.description}}</p>
  <p>{{movie.year}}</p>
  <p>{{movie.length}} minutes</p>
  <p>
    {% for genre in movie.genres %}
      {{genre}}
    {% endfor %}
  </p>
  <br>
  {% endfor %}
</main>
{% endblock %}
