{% extends 'layout.html' %}
{% block content %}
<main id="main">
  <p>
    Welcome to the CS235Flix movie database! We hope you enjoy your stay.
    <br>
    <br>
    For testing purposes, there's an account set up already with username and password 'admin', feel free to use that if you'd like.
    Alternatively, click on 'Register' to make an account!
    <br>
    Once you've done that, click on the 'Hello' message to go to your profile.
    <br>
    <br>
    You can navigate movies via. 'Browse', 'Search', or by one of the genres down on the left.
    <br>
    <br>
    <br>
    This is just some more filler text, I don't really know what else to write here.
    <br>
    <br>
    ...How's the weather been for you?
    <br>
    <br>
    ...Yeah, it's been the same deal over here too.
  </p>
  <br>
  <br>
  <br>
  <p style="text-align: right; font-style: italic;">
    i typed this part when i finally got everything to start working so now i'm going to leave it here as a throwback
  </p>

</main>
{% endblock %}
